pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.8em;
}
code.hljs {
  padding: 3px 5px
}
.hljs {
  color: #2F3337;
  background: #F8F9FA;
}
.hljs-subst {
  color: #2F3337
}
.hljs-comment {
  color: #656E77
}
.hljs-attr,
.hljs-doctag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-section {
  color: #015692
}

.hljs-attribute {
  color: #803378
}
.hljs-name,
.hljs-number,
.hljs-quote,
.hljs-selector-id,
.hljs-template-tag,
.hljs-type {
  color: #B75501
}
.hljs-selector-class {
  color: #015692
}
.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-string,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #54790D
}
.hljs-meta,
.hljs-selector-pseudo {
  color: #015692
}
.hljs-built_in,
.hljs-literal,
.hljs-title {
  color: #B75501
}
.hljs-bullet,
.hljs-code {
  color: #535A60
}
.hljs-meta .hljs-string {
  color: #54790D
}
.hljs-deletion {
  color: #C02D2E
}
.hljs-addition {
  color: #2F6F44
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: 700
}

/* ***** DARK THEME ***** */
html.dark .hljs {
  color: #D0D7DE;
  background: #18191A;
}
html.dark .hljs-subst {
  color: #D0D7DE
}
html.dark .hljs-comment {
  color: #999
}
html.dark .hljs-attr,
html.dark .hljs-doctag,
html.dark .hljs-keyword,
html.dark .hljs-meta .hljs-keyword,
html.dark .hljs-section,
html.dark .hljs-selector-tag {
  color: #88AECE
}
html.dark .hljs-attribute {
  color: #C59BC1
}
html.dark .hljs-name,
html.dark .hljs-number,
html.dark .hljs-quote,
html.dark .hljs-selector-id,
html.dark .hljs-template-tag,
html.dark .hljs-type {
  color: #F08D49
}
html.dark .hljs-selector-class {
  color: #88AECE
}
html.dark .hljs-link,
html.dark .hljs-regexp,
html.dark .hljs-selector-attr,
html.dark .hljs-string,
html.dark .hljs-symbol,
html.dark .hljs-template-variable,
html.dark .hljs-variable {
  color: #B5BD68
}
html.dark .hljs-meta,
html.dark .hljs-selector-pseudo {
  color: #88AECE
}
html.dark .hljs-built_in,
html.dark .hljs-literal,
html.dark .hljs-title {
  color: #F08D49
}
html.dark .hljs-bullet,
html.dark .hljs-code {
  color: #CCC
}
html.dark .hljs-meta .hljs-string {
  color: #B5BD68
}
html.dark .hljs-deletion {
  color: #DE7176
}
html.dark .hljs-addition {
  color: #76C490
}
