.e-content {
  margin-top: 2rem;
  position: relative;
}

time {
  font-style: italic;
  font-size: smaller;
  color: var(--color-text2);
  margin-top: 2rem;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 501px) {
  .h-entry img {
    max-width: 440px;
    max-height: 440px;
  }
}
@media screen and (max-width: 500px) {
  .h-entry img {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  time {
    right: auto;
  }
}
