input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--color-accent);
  margin: 0 0 4rem 0;
}
.checkbox-label {
  cursor: pointer;
  margin-left: 0.8rem;
}

.h-entry {
  padding: 2.8rem 2.4rem;
  display: grid;
  border: solid var(--color-note-border) 1px;
}
.h-entry div {
  margin-top: 0.8rem;
  display: flex;
}
.h-entry div a {
  font-size: smaller;
  font-style: italic;
  color: var(--color-text2);
  margin-left: auto;
}
@media screen and (max-width: 450px) {
  .h-entry {
    border-width: 0 0 1px 0;
    padding: 1.2em 0;
  }
  .h-entry:nth-child(2) {
    padding-top: 0;
  }
}
@media screen and (min-width: 451px) {
  main h1 {
    margin-bottom: 2.4rem;
  }
  .h-entry:not(:last-of-type) {
    border-bottom: none;
  }
}

.page-switcher {
  color: var(--color-text2);
  margin-top: 2.8rem;
  text-align: center;
}
.page-switcher a {
  color: var(--color-text2);
  text-decoration: underline;
  margin: 0;
}
.page-switcher a:not(:first-child) {
  margin-left: 0.8rem;
}
.page-switcher a#notes-curr-page {
  text-decoration: none;
  cursor: default;
}
