/* ***** TITLE ***** */
.post-title {
  margin: auto 0;
}

/* ***** DATE, READING TIME & TAG ***** */
.post-info {
  color: var(--color-text2);
  display: inline-table;
  font-size: 0.9em;
  margin: 0.8rem 0 2.4rem;
}
.post-info a {
  color: var(--color-text2);
  text-decoration: underline;
  text-decoration-color: var(--color-text2-underline);
  text-decoration-thickness: 1px;
}


/* ***** CODE ***** */
code {
  font-family: var(--font-monospace);
  letter-spacing: 0.12rem;
  color: var(--color-code-fg);
  background-color: var(--color-code-bg);
  padding: 0.4rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Snippets */
pre>code {
  font-size: 1.6rem;
  letter-spacing: 0;
  display: block;
  overflow-x: auto;
  padding: 0.8em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-grey);
}
/* Space between code and section header if there's no paragraph in between */
pre + h2 {
  margin-top: 4rem;
}


/* ***** QUOTE ***** */
blockquote {
  margin: 2.4rem 2.4rem;
  font-style: italic;
  padding-left: 0.8em;
  border-left: 2px solid var(--color-grey);
}


/* ***** MUSIC CHORD ***** */
.chord {
  font-family: var(--font-monospace);
}


/* ***** IMAGES & VIDEOS ***** */
img,
video {
  box-shadow: var(--image-shadow);
  margin-top: 1.2rem;
  overflow: hidden;
}
.post-body .img-div {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0.8em;
  color: var(--color-text2);
  font-style: italic;
}
/* When there are two images together the caption appears higher than it
 * should. I increase the margin top. */
.two-imgs-container+figcaption {
  margin-top: 1.2rem;
}
.video-vertical {
  max-height: 600px;
}
.video-horizontal {
  max-width: 70%;
}
.video-square {
  max-width: 300px;
}


/* ***** FOOTNOTES ***** */
.footnote-ref {
  font-family: var(--font-monospace);
  -webkit-user-select: none;
  user-select: none;
}
.footnotes {
  margin-top: 5.2rem;
}
.footnotes ol {
  margin-bottom: 0;
}
.footnotes ol li:not(:first-child) {
  margin-top: 0.4rem;
}
.fn-back {
  -webkit-user-select: none;
  user-select: none;
  text-decoration: underline;
}


/* ***** DESKTOP VERSION ***** */
@media screen and (min-width:770px) {
  .two-imgs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}


/* ***** MOBILE VERSION ***** */
@media screen and (max-width:700px) {
  /* Don't let images and be larger than the phone body. */
  img,
  .video-square {
    width: 90% !important;
    height: auto !important;
  }
  .video-vertical {
    max-width: 90%;
    height: auto !important;
  }
  .video-horizontal {
    max-width: 90%;
    height: auto !important;
  }
  img,
  video {
    margin-left: auto;
    margin-right: auto;
  }

  /* Don't leave too much space to the left. */
  blockquote {
    margin-left: 1.2rem;
  }
}
