/* ***** VARIABLES ***** */
:root {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --image-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  --icon-search: url("/images/icon-search-light.svg");
  --color-background: #F8F9FA;
  --color-code-bg: #F8F9FA;
  --color-code-fg: #2F3337;
  --color-text: #212529;
  --color-text2: #616C75;
  --color-text2-underline: #616C75AA;
  --color-accent: #D2373C;
  --color-highlight-bg: #FDC7C8;
  --color-border: #6C757D;
  --color-note-border: #DEE2E6;
  --color-note-border: #6C757D88;
  --color-sticky-title-underline: #DEE2E6;
  --color-hr: #DEE2E6;
  --color-placeholder: #A3ACB5;
  --color-footer-hr: #A3ACB5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --icon-search: url("/images/icon-search-dark.svg");
    --color-background: #18191A;
    --color-code-bg: #18191A;
    --color-code-fg: #D0D7DE;
    --color-text: #D0D7DE;
    --color-text2: #89949D;
    --color-placeholder: #89949D;
    --color-text2-underline: #89949DDD;
    --color-accent: #DF9568;
    /* --color-accent: #737ADE; */
    /* --color-accent: #747CEC; */
    /* --color-accent: #6AA0D6; */
    /* --color-accent: #6EABE8; */
    /* --color-accent: #DC6BAD; */
    /* --color-accent: #4fa8e2; */
    --color-highlight-bg: #502205;
    --color-hr: #555D66;
    --color-footer-hr: #555D66;
    --color-border: #555D66;
    --color-note-border: #555D6699;
    --color-sticky-title-underline: #555D6699;
  }
}

/* ***** LOWERCASE ***** */
h1, h2, h3, h4, h5,
.navbar-item,
#tags-list li,
.posts-list li,
.pages-list li a,
.post-info
{
  text-transform: lowercase;
}


/* ***** MAIN ***** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: var(--font-sans-serif);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Disable smooth scrolling if reduced motion is active */
@media (prefers-reduced-motion:reduce) {
  html {scroll-behavior: auto;}
}

body {
  font-size: 1.8rem;
  color: var(--color-text);
  background-color: var(--color-background);
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.383em; }
h3 { font-size: 1.296em; }
h4 { font-size: 1.215em; }
h5 { font-size: 1.138em; }
h5 { font-size: 1.067em; }
main h1 {
  line-height: 1.2;
  margin: 0 0 1.2rem;
}
h2 {
  line-height: 1;
  margin: 3.2rem 0 1.6rem;
}
h3 {
  line-height: 1;
  margin: 2.4rem 0 1.2rem;
}
h4,
h5,
h6 {
  line-height: 1.16;
  margin: 2.4rem 0 0.8rem;
}

hr {
  border-color: var(--color-hr);
}


/* ***** HEADER ***** */
header#banner {
  display: flex;
  justify-content: space-between;
  margin: 1.6rem 0 4rem;
}
header#banner h1 {
  font-size: 1.3em;
  margin: 0;
}
header#banner nav {
  display: flex;
  align-items: center;
}
header#banner nav a {
  color: var(--color-text2);
  text-decoration: underline;
  text-decoration-color: var(--color-text2-underline);
  text-decoration-thickness: 1px;
  margin: 0;
}
header#banner nav a:not(:last-of-type) {
  margin-right: 1.6rem;
}
header#banner nav a#navbar-curr-page {
  text-decoration: none;
  cursor: default;
}


/* ***** LINKS ***** */
a {
  cursor: pointer;
  color: var(--color-accent);
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
a:active:not(#navbar-curr-page) {
  filter: brightness(80%);
}

a[target="_blank"]::after {
  /* u21aa ufe0e  second one is invisible: to avoid glyph turning into emoji */
  content: " ↪︎";
  white-space: pre;
  display: inline-block;
  margin-right: 0.2em;
}

a:hover,
a:focus,
a[target="_blank"]:hover::after,
a[target="_blank"]:focus::after {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
a:visited,
a[target="_blank"]:visited::after {
  text-decoration: none;
  text-decoration-thickness: 1px;
}


/* ***** LIST ***** */
.list {
  list-style-type: none;
  padding: 0;
}
li:not(:last-child) {
  padding-bottom: 0.8rem;
}

details summary {
  cursor: pointer;
}
summary *:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
/* Make summary title appear in the same line of the toggle button. */
details summary>* {
  display: inline;
  padding-left: 0.32rem;
}


/* ***** TEXT & PARAGRAPHS ***** */
p {
  color: var(--color-text);
  text-align: left;
  margin: 0;
}
main {
  line-height: 1.6;
}
main p + p {
  margin-top: 1em;
}
main p.post-info + p {
  margin-top: 0;
}

::placeholder {
  color: var(--color-placeholder);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--color-placeholder);
}


/* ***** FOOTER ***** */
/* Stretch main to fill all remaining space towards the bottom of the page. */
main {
  flex: 1;
}
footer {
  width: 100%;
  margin: 5.6rem 0 0.8rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
footer hr {
  border-style: dashed;
  border-color: var(--color-footer-hr);
}
footer p {
  color: var(--color-text2);
}
footer a {
  color: var(--color-text2);
  text-decoration: underline;
  text-decoration-color: var(--color-text2-underline);
  text-decoration-thickness: 1px;
}


/* ***** DESKTOP VERSION ***** */
@media screen and (min-width:770px) {
  body {
    width: 750px;
  }
  header#banner {
    line-height: 1;
  }
}

/* ***** HEADER BAR ON MULTIPLE LINES IN QUASI MOBILE VERSION ***** */
@media screen and (max-width:600px) {
  header#banner {
    margin: 0.4rem 0 2.8rem;
    display: block;
  }
}

/* ***** MOBILE VERSION ***** */
@media screen and (max-width:500px) {
  body {
    height: 100%;
    font-size: 1.7rem;
    min-height: 100%;
    padding: 0 2.4rem;
  }
  footer {
    margin-bottom: 0;
    padding-bottom: 1.6rem;
  }
  .fn-back {
    font-size: 1.8rem;
  }
}

@media screen and (max-width:370px) {
  body {
    padding: 0 1.6rem;
  }
}
